.fixed-footer {
    position: fixed; /* Fixes the navbar at the top */
    top: 86vh; /* Stays at the top of the page */
    left: 0;
    width: 100%; /* Ensures the navbar spans the full width of the page */
    z-index: 1000; /* Ensure it stays above other elements */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
  }