.sign_container {
    margin-top: 5%;
    margin-left: 25%;
    width: 50%;
    height: 60%;
    border-radius: 1%;
    display: flex;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgb(78, 78, 253);
}
.clear_circle{
    margin-left: -30%;
    height: 100%;
    width: 60%;
    border-radius: 50%;
    background-color:rgb(78, 78, 253) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.8s ease;
    z-index: 100;
}
#switch{
    background-color: aliceblue;
    height: 8%;
    width: 30%;
    border-radius: 2%;
    margin-left: 50%;
    transition: transform 0.8s ease;
}

#switch:hover {
    background-color: rgb(187, 187, 250);
    box-shadow: 0 4px 8px 0 rgb(45, 45, 248);
}


.info{
    font-size:x-large;
    height: 20%;
    width: 30%;
    margin-left: 50%;
    background-color: transparent;
    color: white;
    transition: transform 0.8s ease;
}
.formdiv{
    height: 80%;
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: larger;
    transition: transform 0.8s ease;
}
.formdiv h1 {
    color:rgb(78, 78, 253)  ;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
}

.switch_div{
    .clear_circle{
        transform: translateX(165%) ;
    }
    .info , #switch {
        transform: translateX(-150%) ;
    }
    .whole{
        transform: translateX(-50%) ;
    }
    .formdiv{
        height: 90%;
    }
}
.for_login {
    margin-left: 30%;
    width: 80%;
    display: flex;
    color: blue;
    font-size: small;
}
#for_L{
    width: 15%;
    height: 100%;
}

#for_L:hover {
color: rgb(78, 78, 253) ;
}
.whole{
    height: 100%;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.8s ease;
}

